button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.sp {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#q {
    text-align: center;
}

#goto {
    text-align: center;
}

#re {
    text-align: center;
}