<div class="container-fluid">

    <div class="row">
        <div>
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">~ Edit your book ~</h5>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
                    <label for="title ">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="author" name="author" [(ngModel)]="author">
                    <label for="author ">Author</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="genre" name="genre" [(ngModel)]="genre">
                    <label for="genre ">Genre</label>
                </div>


                <button type="button " class="btn btn-success" (click)="updateBook() ">Edit book</button>
            </div>
        </div>

    </div>

</div>